/* * Mediaqueries */
/* * max-width: 800px */
/* * max-width: 600px */

@media only screen and (max-width: 800px) {
    .desktop-nav {
        display: none;
    }

    .hamburger-nav {
        display: flex;
        margin-bottom: 1.2rem;
    }

    /* Puts it in the nav and sticky */
    .mode-btn {
        z-index: 2;
        position: fixed;
        top: 5px;
        left: 7rem;
    }

    /* take up whole with */
    .fav-meals-container {
        width: 100%;
        border-radius: 0;
    }

    /* --||-- */
    .user-input {
        width: 100%;
        border-radius: 0;
    }

    /* Add margin */
    .suggestions {
        gap: 1rem;
    }

    /* Add space */
    .pop-up {
        padding: 1rem;
    }

    /* add space */
    .popup-h2 {
        padding-right: 2.2rem;
        margin-top: 0.4rem;
    }

    /* make it column */
    .pop-up-content {
        flex-direction: column;
        align-items: center;
        padding: 0.6rem 0;
    }

    .right {
        padding: 0.6rem;
    }

    footer .logo {
        width: 60px;
        height: 60px;
    }

    .footer-links li a {
        font-size: 0.9rem;
    }

    footer p {
        font-size: 0.9rem;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .recipe-details {
        justify-content: center;
    }

    .about-text {
        width: 100%;
    }
}

/* * max-width: 600px */
@media only screen and (max-width: 600px) {
    /* Take up whole width */
    .form-container {
        width: 100%;
    }

    /* Make it take up whole width */
    .my-recipes {
        width: 100%;
        text-align: center;
    }

    /* Remove the arrow */
    .my-recipes > i {
        display: none;
    }

    .my-recipe-x {
        margin-left: 0.6rem;
        font-size: 1.6rem;
    }
    .my-recipe-edit {
        font-size: 1.2rem;
    }

    /* Bigger btn */
    .add-recipe-btn {
        width: 70%;
    }

    #my-chart {
        padding: 0.4rem;
    }
}
